.canvas-block {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: canvas-block;

  background-color: #B1BAB1;
}

.canvas-field__canvasTemporary {
  background-image: none;
  background-color:rgba(0, 0, 0, 0.0);
}
