.canvas-block {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: canvas-block;

  background-color: #B1BAB1;
}

.canvas-field {
  width: 640px;
  height: 640px;
}


.canvas-field canvas {
  width: 640px;
  height: 640px;
  image-rendering: pixelated;
  position: absolute;
}

.canvas-field__canvasTemporary {
  position: absolute;

  width: 640px;
  height: 640px;
  image-rendering: pixelated;

  background-image: none;
  background-color:rgba(0, 0, 0, 0.0);
}
