.frames {
  background-color: #B1BAB1;
  grid-area: frames;
  overflow-y: scroll;
}

.frame-wrapper {
  border: 2px solid #EAEDE4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.frame-wrapper:hover {
  border: 2px dashed #3D7939;
}

.frame-wrapper canvas {
  width: 100%;
  height: 100%;
}

.frame-wrapper button {
  width: 30%;
}
