.header {
  background-color: #B1BAB1;
  grid-area: header;
}

.google-block {
  display: inline-block;
}

.greeting-block {
  padding-left: 12px;
  top: -10px;
  display: inline-block;
  margin: auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
