.canvas-field {
  width: 640px;
  height: 640px;
}


.canvas-field canvas {
  width: 640px;
  height: 640px;
  image-rendering: pixelated;
  position: absolute;
}

.canvas-field__canvasTemporary {
  position: absolute;

  width: 640px;
  height: 640px;
  image-rendering: pixelated;
}
