.input-file-wrapper {
  width: 99%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #EAEDE4;
  order: 30;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px;
  color: #EAEDE4;
  background-color: #3D7939;
}


.input-file-wrapper > input {
  width: 136px;
  overflow:hidden;
}
