.coordinates-block {
  margin-top: 20px;
  width: 95%;
  padding: 2px;
  background-color: #3D7939;
  color: white;
  order: 29;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #EAEDE4;
}


display: inline-block;
  height: 30px;
  color: white;
  padding: 0;
  margin: 2px;
  background: no-repeat;
  background-position: 50% 50%;
  background-color: #3D7939;
  display: inline-block;
  padding: 2px;
