.coordinates-block {
  margin-top: 20px;
  width: 95%;
  padding: 2px;
  background-color: #3D7939;
  color: white;
  order: 29;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #EAEDE4;
}
