.control-panel {

  background-color: #B1BAB1;
  grid-area: control-panel;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-panel > button {
  display: inline-block;
  padding: 2px;
  width: 100%;
}
